[Desktop Entry]
Name=Lumalarm
Comment=Smart alarm clock with rtcwake suspend-to-wake support
Exec=lumalarm
Icon=lumalarm
Terminal=false
Type=Application
Categories=Utility;Clock;
Keywords=alarm;clock;timer;stopwatch;wakeup;
